<% if user_signed_in? && @my_bookings_owner.count > 0%>
   <h1 class ="text-center m-3">My bookings(Owner)</h1>
    <div class="container d-flex">
      <div class="row">
        <% @my_bookings_owner.each do |place| %>
            <div class="booking border p-2 bg-light rounded">
            <% raise %>
             <h3 class ="text-center m-3"><%= place.name %></h3>
                <% if booking.status == 'refused' %>
                  <p class = 'btn btn-danger me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% elsif booking.status =='pending confirmation'  %>
                  <p class = 'btn btn-warning me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% elsif booking.status =='booked'  %>
                  <p class = 'btn btn-success me-3 text-center mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% end %>
                <p class = 'me-3 mt-3'><strong> Beginning of the reservation :</strong> <%= booking.begin_date %></p>
                <p class = 'me-3 mt-3'><strong>End of the reservation :</strong> <%= booking.end_date %></p>
                <% if booking.status == 'pending confirmation' %>
                  <div class="buttons d-flex">
                    <div class="button m-0 h-25 me-2">
                      <%= button_to 'Accept',  accepted_booking_path(booking), class:'btn btn-outline-success rounded-pill', method: :patch  %>
                    </div>
                    <div class="button me-2">
                      <%= button_to 'Refuse',  refused_booking_path(booking), class: 'btn btn-outline-danger rounded-pill', method: :patch  %>
                    </div>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
<% elsif user_signed_in? && @my_bookings_owner.count == 0 %>
  <h1 class ="text-center m-3">My bookings(Owner)</h1>
    <div class="container d-flex">
      <div class="row border p-2 bg-light rounded">
        <h3>Pas de réservations... pour l'instant !</h3>
      </div>
    </div>
<% end %>


<% if user_signed_in? && @my_bookings_locataire.count > 0%>
<h1 class ="text-center m-3 mt-5">My bookings(Locataires)</h1>
  <div class="container d-flex">
      <div class="row">
        <% @my_bookings_locataire.each do |booking| %>
            <div class="booking border p-2 bg-light rounded">
              <h3 class ="text-center m-3"><%= booking.place.name %></h3>
                <% if booking.status == 'refused' %>
                  <p class = 'btn btn-danger me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% elsif booking.status =='pending confirmation'  %>
                  <p class = 'btn btn-warning me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% elsif booking.status =='booked'  %>
                  <p class = 'btn btn-success me-3 text-center mt-2'><strong>Status : </strong><%= booking.status %></p>
                <% end %>
                <p class = 'me-3 mt-3'><strong> Beginning of the reservation :</strong> <%= booking.begin_date %></p>
                <p class = 'me-3 mt-3'><strong>End of the reservation :</strong> <%= booking.end_date %></p>
              </div>
          <% end %>
        </div>
      </div>
<% elsif user_signed_in? && @my_bookings_locataire.count == 0 %>
      <h1 class ="text-center m-3">My bookings(Owner)</h1>
        <div class="container d-flex">
          <div class="row border p-2 bg-light rounded">
            <h3>Pas d'apéro réservé... pour l'instant !</h3>
            <p>Il est temps de ressortir vos meilleurs déguisements et de préparer votre prochaine soirée</p>
          </div>
        </div>
<% end %>
