<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Partyplacepicture.png" %>
      <% end %>
      <%= link_to "All places", places_path, class: "btn btn-small-white" %>
    </div>

    <h1>PARTY PLACE</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class= "d-inline-flex align-items-center">
            <li class="nav-item active">
              <%= link_to "Add your place", new_place_path, class: "btn btn-small-white" %>
            </li>
            <li class="nav-item dropdown">
              <div class = "d-flex align-items-center p-2 m-1">
                <span class = "p-2"><%= current_user.first_name.capitalize %></span>
                <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                </div>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item d-inline-flex">
            <%= link_to "Sign-up", new_user_registration_path, class: "nav-link btn btn-light" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link btn btn-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
