<div class="container mt-5">
  <p><strong>Places detail</strong></p>
    <div class="row">
        <div class="col">
          <div class="card p-3 mt-3">

            <div class="card-product">
              <img src="<%= @place.picture_url %>"/>
              <div class="card-product-infos">
                <h2><%= @place.name %> </h2>
                <p><%= @place.address%> </p>
                <p><%= @place.price %> € </p>
                <button class="btn btn-outline-primary text-secondary"><%= link_to "Delete this place", place_path,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
                <p><%= link_to "Edit this place", edit_place_path %></p>
              <div>
            </div>
          </div>

        </div>
    </div>
</div>

