
<div class="container mt-5">
  <h2><strong>Places detail</strong></h2>

  <div class="row">
    <div class="col">
      <div class="card p-3 mt-3">
        <div class="card-product">
          <%if @place.photo.attached? %>
            <%= cl_image_tag @place.photo.key, height: 300, width: 300, crop: :fill %>
          <%elsif @place.picture_url%>
            <%= image_tag @place.picture_url, class: "object-fit: cover" %>
          <%else%>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png"/>
          <%end%>

          <div class="card-product-infos">
            <h3><%= @place.name %> </h3>
            <p><%= @place.address%> </p>
            <p class ="mb-3"><%= @place.price %> € </p>

            <% if user_signed_in? && current_user.id != @place.user_id %>
              <%= link_to "Book this place", new_place_booking_path(@place), class: "btn-small-white" %>
            <% end %>

            <br>
             <% if user_signed_in? && current_user.id == @place.user_id %>
              <div class="edit-delete">
                <button class="btn btn-outline-info rounded-pill"><i class="fa fa-trash"> <%= link_to " Delete this place ", place_path,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></i></button>
                <button class="btn btn-outline-info rounded-pill"><i class="fa fa-edit"> <%= link_to " Edit this place ", edit_place_path %></i></button>
              </div>

                <% end %>
            </div>
              <div style="width: 420px; height: 400px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                <%= render 'shared/marker' %>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% if user_signed_in? && @bookings.count > 0 && current_user.id == @place.user_id%>
  <div class="container mt-5 border">
    <h2 class="mt-2"><strong>My Bookings details</strong></h2>
        <div class="card-bookings p-3 mt-3 row">
          <% @bookings.each do |booking| %>
            <div class="card-product-infos col-4">

              <div class="booking p-2 bg-light">

                  <% if booking.status == 'refused' %>
                    <p class = 'btn btn-danger rounded me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                    <% elsif booking.status =='pending confirmation'  %>
                    <p class = 'btn btn-warning rounded me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                    <% elsif booking.status =='booked'  %>
                    <p class = 'btn btn-success rounded me-3 text-center mt-2'><strong>Status : </strong><%= booking.status %></p>
                  <% end %>

                <div>
                    <p class = 'me-3 mt-3'><strong> Beginning of the reservation :</strong> <%= booking.begin_date %></p>
                    <p class = 'me-3 mt-3'><strong>End of the reservation :</strong> <%= booking.end_date %></p>
                </div>
                <% if booking.status == 'pending confirmation' %>
                  <div class="buttons d-flex">
                    <div class="button m-0 h-25 me-2">
                      <%= simple_form_for booking do |f|%>
                        <%= f.input :status, as: :hidden, input_html: { value: 'booked'} %>
                        <%= f.submit 'Accept', class: 'btn btn-outline-success rounded-pill' %>
                      <% end %>
                    </div>
                    <div class="button me-2">
                      <%= simple_form_for booking do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'refused'}, class: 'p-0'%>
                        <%= f.submit 'Reject', class: 'btn btn-outline-danger rounded-pill' %>
                      <% end %>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
  </div>
<% end %>

<% if user_signed_in? && @my_bookings.count > 0 && current_user.id != @place.user_id%>
  <div class="container mt-5 border">
    <p><strong>My Bookings details</strong></p>
          <div class="card-bookings p-3 mt-3 row">
            <% @my_bookings.each do |booking| %>
              <div class="card-product-infos col-4">
                  <div class="booking border p-2 bg-light">
                    <div class="buttons d-flex">
                      <div class="button m-0 h-25 me-2">
                        <p class = 'btn btn-warning me-3 mt-2'><strong>Status : </strong><%= booking.status %></p>
                          <div>
                            <p class = 'me-3 mt-3'><strong> Beginning of the reservation :</strong> <%= booking.begin_date %></p>
                            <p class = 'me-3 mt-3'><strong>End of the reservation :</strong> <%= booking.end_date %></p>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
  </div>
<% end %>

<% if user_signed_in? == false %>
      <div class="container d-flex mt-3 justify-content-center">
        <div class="row border p-2 bg-light rounded just">
          <h3 class="text-center">You want to party 🥳?</h3>
           <%= link_to "Login", new_user_session_path, class: "btn btn-small-white mb-2" %>
           <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-small-white mb-2" %>
        </div>
      </div>
<% end %>
